* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
    --twitter-blue: rgba(29, 161, 242, 1);
}
a {
    text-decoration: none;
    color: black;
}

/* PAGE LAYOUT */
body {
    display: grid;
    grid-template:
        ". left-nav main right ." 100vh /
        1fr 249px 600px 350px 1fr;
}

nav {
    grid-area: left-nav;
    position: fixed;
}

main {
    grid-area: main;
    display: grid;
}

aside {
    grid-area: right;
}

/* LEFT NAV */
.button {
    display: grid;
    align-items: center;
}
.button svg {
    width: 32px;
    margin: 15px;
}
.left-menu-container {
    height: 100vh;
    width: 249px;

    display: grid;
    grid-template-rows: auto auto;
    justify-items: right;
}

.left-menu-container section {
    /* border: 1px solid black; */
    display: grid;
}

.icons {
    grid-template-rows: repeat(9, 1fr);
}

.link-name {
    font-weight: bolder;
}

.icons a svg {
    margin-right: 20px;
}

.icons .container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    font-size: 22px;

    margin-right: 4px;
}
/* LEFT NAV - TWEET BUTTON */
.left-menu-container a.tweet {
    display: grid;
    place-items: center;

    color: white;
    background-color: var(--twitter-blue);
    border-radius: 30px;
    font-size: 17px;

    width: 250px;
    min-height: 53px;
}

/* LEFT NAV - ACCOUNT SECTION */
.left-menu-container .account {
    display: grid;

    grid-template-columns: repeat(3, auto);

    place-items: end;

    font-size: 17px;
    padding: 1em;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 15px;
}

.account .name {
    font-weight: 700;
}

.profile-pic-container {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic-container img {
    max-width: 100%;
    object-fit: cover;
}

.left-menu-container .account .options {
    height: 21.25px;

    transform: rotate(90deg);
}

/* MIDDLE SECTION */

main .home {
    display: grid;
    grid-template-columns: auto auto;

    border-left: solid 1px rgba(224, 224, 224, 0.637);
    border-bottom: solid 1px rgba(224, 224, 224, 0.637);
    border-right: solid 1px rgba(224, 224, 224, 0.637);
}

main .home .svg-container {
    display: grid;
    justify-content: right;
}

/* MIDDLE SECTION - HOME BAR */

main .home {
    display: grid;
    grid-template-columns: 9fr 1fr;

    align-content: center;

    padding: 3px 20px;
    border: 1px solid rgba(224, 224, 224, 0.637);
    background-color: white;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.top-tweets {
    width: 24px;
}
.home h2 {
    font-size: 22px;
    font-weight: 900;
}

/* MIDDLE SECTION - PROFILE PIC & ICONS */
main .profile-pic-container {
    width: 53px;
    height: 53px;

    margin-right: 10px;
}
.icons-and-send svg {
    width: 24px;
    margin: 0 10px;
}
.write-something .profile-pic-container {
    grid-area: profile-pic;
}
.write-something .input {
    grid-area: input;
}

.write-something .icons-and-send {
    grid-area: icons;

    display: grid;
    grid-template-columns: repeat(5, auto) 1fr;

    place-items: center right;
}

.icons-and-send .tweet-button {
    display: grid;
    justify-content: right;
    padding-right: 10px;
}

.write-something {
    display: grid;
    grid-template:
        "profile-pic input" auto
        "profile-pic icons" auto/
        auto 1fr;
    border-left: 1px solid rgba(224, 224, 224, 0.637);
    border-bottom: 1px solid rgba(224, 224, 224, 0.637);
    border-right: 1px solid rgba(224, 224, 224, 0.637);

    padding: 10px 15px;
}
main .home .svg-container {
    background-color: white;
}

.write-something .input input {
    border: none;
    margin: 20px 0px;

    font-size: 20px;
}

.send-tweet {
    background-color: var(--twitter-blue);
    color: white;

    border: none;
    border-radius: 30px;

    width: 100%;
    height: 42px;

    font-weight: 700;
    font-size: 20px;
}

.grey-area {
    height: 10px;
    background-color: rgba(238, 234, 234, 0.404);
}

/* MIDDLE SECTION  */

article {
    font-size: 17px;
    display: grid;
    grid-template:
        "picture header" auto
        "picture content" auto/
        60px auto;

    padding: 18px 18px;

    border-bottom: none;
    border-left: 1px solid rgba(224, 224, 224, 0.637);
    border-top: 1px solid rgba(224, 224, 224, 0.637);
    border-right: 1px solid rgba(224, 224, 224, 0.637);
}

.news-feed article .picture {
    grid-area: picture;
    display: grid;
    justify-items: left;
}

.news-feed article .profile-pic-container {
    width: 53px;
    height: 53px;
}
.news-feed article .header {
    grid-area: header;

    display: grid;
    grid-template-columns: auto auto auto 4fr;
    align-items: center;
    margin-bottom: 1em;
    margin-right: 0.5em;

    grid-gap: 5px;
}
.header .options {
    display: grid;
    justify-items: right;
}
.news-feed article .content {
    grid-area: content;
}

.features {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.features-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.feature svg {
    width: 22px;
}

article .header .options img {
    width: 22px;
    transform: rotate(90deg);
}

.header .username {
    font-weight: 700;
}

.header .handle,
.header .time {
    color: grey;
}

.feature-number {
    font-size: 14px;
    color: grey;
}

/* RIGHT SECTION */
aside {
    display: grid;
    grid-template-rows: 42.57px 1fr 1fr 30px;
}

/* RIGHT SECTION - SEARCH */

.search {
    display: grid;
    grid-template-columns: auto auto;

    margin: 2px 10px;

    padding: 10px;

    align-items: center;

    background-color: rgba(224, 224, 224);

    border-radius: 40px;
}

.search-container {
    display: grid;
    place-items: center;
}

.searchbar {
    display: grid;
    place-items: center;
}

.searchbar input {
    border: none;
    width: 90%;

    background-color: rgba(224, 224, 224);

    color: #a9a9a9;

    font-size: 12px;
}

/* RIGHT SECTION - HAPPENING  */
.happening article .title {
    grid-area: title;
}
.happening article .sub-heading {
    grid-area: sub-heading;
}
.happening article .main {
    grid-area: main;
}
.happening article .image {
    grid-area: image;
}
.happening article .footer {
    grid-area: footer;
}
.happening article {
    display: grid;
    grid-template:
        "title image" auto
        "sub-heading image" auto
        "main image" auto
        "footer image" auto /
        auto
        40px;
}

.happening article .image {
    width: 100x;
    height: 50px;

    overflow: hidden;
    object-fit: contain;
}

.happening article .image img {
}
